@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background:#f4f6f8;
 font-family:system-ui, sans-serif;
}

.container{
 max-width:1200px;
 margin:auto;
 padding:20px;
}
/* ---------------------------
   RESPONSIVE LAYOUT
---------------------------- */

/* TABLET */

@media (max-width:1024px){

 .grid-4{
  grid-template-columns:repeat(2,1fr);
 }

 .grid-3{
  grid-template-columns:repeat(2,1fr);
 }

}

/* MOBILE */

@media (max-width:768px){

 .container{
  padding:10px;
 }

 .hero img{
  height:250px;
 }

 .grid-4{
  grid-template-columns:1fr;
 }

 .grid-3{
  grid-template-columns:1fr;
 }

 .grid-2{
  grid-template-columns:1fr;
 }

}

/* SMALL MOBILE */

@media (max-width:480px){

 .hero-overlay h1{
  font-size:18px;
 }

 .logo{
  font-size:22px;
 }

 .navbar .container{
  gap:15px;
 }

 .news-card img{
  height:160px;
 }

}
@keyframes marquee {
 0% { transform: translateX(100%) }
 100% { transform: translateX(-100%) }
}

.animate-marquee{
 animation: marquee 20s linear infinite;
}
@keyframes breaking-scroll {
 0% {
  transform: translateX(100%);
 }
 100% {
  transform: translateX(-100%);
 }
}

.animate-breaking {
 display:inline-block;
 animation: breaking-scroll 25s linear infinite;
}
@keyframes breaking-scroll {
 0% {
  transform: translateX(100%);
 }
 100% {
  transform: translateX(-100%);
 }
}

.animate-breaking {
 display:inline-block;
 animation: breaking-scroll 25s linear infinite;
}